.footer {
  height: 200px;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  color: #323232;
  background-color: #f7f7f8;
 
  .footer-container {
    margin: auto;
    width: 70%;
    .footer-left {
      width: 70%;
      margin: auto;
      line-height: 25px;
      padding: 20px 0;
      display: inline-block;
      vertical-align: top;
    }
  
    .footer-right {
      display: inline-block;
      vertical-align: top;
      margin-top: 38px;

      .contact-us-header {
	        margin: 0;
      }

      .contact-email {
        color: #4e8fc1;
        text-decoration: none;
      }
    }
  }  
}
